<%- include('./snippets/header.ejs') %>
<%- include('./snippets/nav.ejs') %>


    <div class="blogs content">

    </div>
    <h1>Hell from Home page</h1>
    <p>Wel come</p>


<%- include('./snippets/footer.ejs') %>