<nav>
    <div class="site-title">
        <a href="/">Home</a>
        <p>Node js practice</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">BLog</a></li>
        <li><a href="/blog/create">Create blog</a>    </li>
    </ul>
    
</nav>